In [144]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import spacy
import matplotlib.pyplot as plt
import seaborn as sns
import re 
import string
from nltk.corpus import gutenberg, stopwords
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter

In [145]:
movies = pd.read_csv('wiki_movie_plots_deduped.csv')
movies = movies[movies.Genre.str.contains('unknown') == False]
movies = movies[movies.Genre.str.contains('/') == False]
movies = movies[movies.Genre.str.contains(' ') == False]
movies = movies[movies['Release Year'] >= 1960]
movies = movies.groupby("Genre").filter(lambda x: len(x) > 190)
#movies = movies.Plot.apply(lambda x: x.lower())
movies.shape

(11240, 8)

In [146]:
movies.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
7340,1960,The Dark at the Top of the Stairs,American,Delbert Mann,"Robert Preston, Dorothy McGuire, Eve Arden, Sh...",drama,https://en.wikipedia.org/wiki/The_Dark_at_the_...,"During Prohibition in Oklahoma, Rubin Flood is..."
7341,1960,Desire in the Dust,American,Robert L. Lippert,"Raymond Burr, Martha Hyer, Joan Bennett",drama,https://en.wikipedia.org/wiki/Desire_in_the_Dust,"Lonnie Wilson (Ken Scott), the son of a sharec..."
7343,1960,Elmer Gantry,American,Richard Brooks,"Burt Lancaster, Jean Simmons, Arthur Kennedy, ...",drama,https://en.wikipedia.org/wiki/Elmer_Gantry_(film),Elmer Gantry (Burt Lancaster) is a hard-drinki...
7345,1960,Exodus,American,Otto Preminger,"Paul Newman, Eva Marie Saint, Ralph Richardson...",drama,https://en.wikipedia.org/wiki/Exodus_(1960_film),"Nurse Katherine ""Kitty"" Fremont is an American..."
7346,1960,The Facts of Life,American,Melvin Frank,"Bob Hope, Lucille Ball, Ruth Hussey",comedy,https://en.wikipedia.org/wiki/The_Facts_of_Lif...,"As the yearly vacation of six neighbors, the G..."

In [147]:
movies.groupby('Genre').count().sort_values('Title')

,Release Year,Title,Origin/Ethnicity,Director,Cast,Wiki Page,Plot
Genre,,,,,,,
family,193,193,193,193,188,193,193
adventure,201,201,201,201,200,201,201
crime,210,210,210,210,207,210,210
western,216,216,216,216,216,216,216
romance,790,790,790,790,785,790,790
thriller,822,822,822,822,811,822,822
horror,1052,1052,1052,1052,1009,1052,1052
action,1056,1056,1056,1056,1045,1056,1056
comedy,2839,2839,2839,2839,2809,2839,2839
drama,3861,3861,3861,3861,3755,3861,3861

In [148]:
movies.iloc[1,7]

"Lonnie Wilson (Ken Scott), the son of a sharecropper, Zuba Wilson (Douglas Fowley), returns to his small southern hometown of Clinton, Louisiana after spending six years on the chain-gang for killing Colonel Ben Marquand's son, Davey, in an automobile accident. He revives his love affair with Melinda Marquand (Martha Hyer), who is now Mrs. Melinda Thomas, having married Dr. Ned Thomas (Brett Halsey) while Lonnie was serving time in her place for the accident she caused.[4]\r\nSomewhat miffed about all this, Lonnie incites Dr. Ned about his wife's infidelity, which Dr. Ned verifies when he catches Lonnie and Melinda in a semi-torrid embrace in Colonel Marquand's hunting lodge. Melinda, looking for an explanation, shoots and wounds Lonnie to defend her innocence by claiming she was being raped.\r\nColonel Marquand (Raymond Burr), who had bribed Lonnie to take the blame for his daughter, uses her story to have Sheriff Wheaton (Kelly Thordsen) kill Lonnie, thereby putting an end to all this mess. Mrs. Marquand (Joan Bennett) eventually faces Davey's death and realizes that she witnessed Melinda run down her little brother.\r\nPeter Marquand (Jack Ging) and Ned return to the lodge and inform Otis that the charges against Lonnie are all lies. Exonerated, Lonnie gives Zuba the deed to the farm, and the old man dances in delight, thrilled to finally own his land.[5]"

In [157]:
df = movies.copy()
df = df.reset_index()

In [158]:
df.head()

,index,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,7340,1960,The Dark at the Top of the Stairs,American,Delbert Mann,"Robert Preston, Dorothy McGuire, Eve Arden, Sh...",drama,https://en.wikipedia.org/wiki/The_Dark_at_the_...,"During Prohibition in Oklahoma, Rubin Flood is..."
1,7341,1960,Desire in the Dust,American,Robert L. Lippert,"Raymond Burr, Martha Hyer, Joan Bennett",drama,https://en.wikipedia.org/wiki/Desire_in_the_Dust,"Lonnie Wilson (Ken Scott), the son of a sharec..."
2,7343,1960,Elmer Gantry,American,Richard Brooks,"Burt Lancaster, Jean Simmons, Arthur Kennedy, ...",drama,https://en.wikipedia.org/wiki/Elmer_Gantry_(film),Elmer Gantry (Burt Lancaster) is a hard-drinki...
3,7345,1960,Exodus,American,Otto Preminger,"Paul Newman, Eva Marie Saint, Ralph Richardson...",drama,https://en.wikipedia.org/wiki/Exodus_(1960_film),"Nurse Katherine ""Kitty"" Fremont is an American..."
4,7346,1960,The Facts of Life,American,Melvin Frank,"Bob Hope, Lucille Ball, Ruth Hussey",comedy,https://en.wikipedia.org/wiki/The_Facts_of_Lif...,"As the yearly vacation of six neighbors, the G..."

In [186]:
df.Plot = df.Plot.apply(lambda x: x.lower())
df.Plot = df.Plot.str.replace(r'[^\d\w\s]', '')
df.Plot = df.Plot.str.replace('\r', '')
df.Plot = df.Plot.str.replace('\n', '')
df.Plot = df.Plot.str.replace('[^A-Za-z]', ' ')

In [187]:
data = df.Plot

In [188]:
from sklearn.feature_extraction.text import CountVectorizer
matrix = CountVectorizer(max_features=2000, stop_words='english')
X = matrix.fit_transform(data).toarray()
columns = matrix.get_feature_names()
counts = pd.DataFrame(X, columns=[columns])
counts.shape

(11240, 2000)

In [189]:
counts['Plot'] = df['Plot']
counts['Genre'] = df['Genre']
counts.head()

,abandoned,abby,ability,able,abusive,accept,accepts,accident,accidentally,account,...,wrong,year,yearold,years,york,young,younger,youth,Plot,Genre
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,2,0,0,1,0,during prohibition in oklahoma rubin flood is ...,drama
1,0,0,0,0,0,0,0,2,0,0,...,0,0,0,1,0,0,0,0,lonnie wilson ken scott the son of a sharecrop...,drama
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,elmer gantry burt lancaster is a harddrinking ...,drama
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,3,1,0,nurse katherine kitty fremont is an american v...,drama
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,as the yearly vacation of six neighbors the gi...,comedy

In [190]:
from sklearn import ensemble
from sklearn.model_selection import train_test_split

rfc = ensemble.RandomForestClassifier()
Y = np.ravel(counts['Genre'])
X = np.array(counts.drop(['Genre','Plot'], 1))

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    Y,
                                                    test_size=0.2,
                                                    random_state=0)
train = rfc.fit(X_train, y_train)

print('Training set score:', rfc.score(X_train, y_train))
print('\nTest set score:', rfc.score(X_test, y_test))

Training set score: 0.9863211743772242

Test set score: 0.4168149466192171

In [191]:
from sklearn.feature_extraction.text import TfidfVectorizer

word_vectorizer = TfidfVectorizer(max_df=0.5, # drop words that occur in more than half the paragraphs
                             min_df=2, # only use words that appear at least twice
                             stop_words='english', 
                             lowercase=True, #convert everything to lower case (since Alice in Wonderland has the HABIT of CAPITALIZING WORDS for EMPHASIS)
                             use_idf=True,#we definitely want to use inverse document frequencies in our weighting
                             norm=u'l2', #Applies a correction factor so that longer paragraphs and shorter paragraphs get treated equally
                             smooth_idf=True #Adds 1 to all document frequencies, as if an extra document existed that used every word once.  Prevents divide-by-zero errors
                            )

words = word_vectorizer.fit_transform(data).toarray()
features = word_vectorizer.get_feature_names()
tfidf_data = pd.DataFrame(words, columns=[features])

In [192]:
tfidf_data.head()

,aa,aadhi,aadhis,aadi,aadukalam,aajcha,aakash,aakashs,aakhri,aalavandhan,...,zsa,zuber,zuckerman,zulay,zuleikha,zulu,zuniga,zurer,zurich,zutshi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0