In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
# Set up the data
data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100
data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [3]:
data.head()

  gender     height      weight
0   male  52.097255  214.788108
1   male  69.434715  179.450587
2   male  65.728909  230.054234
3   male  58.246819  207.658782
4   male  57.529999  129.382792

In [5]:
data.height.mean()

65.85967251781949

In [6]:
data.height.std()

6.803939488922395

In [7]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    65.859673  180.062020
std      6.803939   25.790015
min     50.683327  127.111216
25%     61.317198  161.055568
50%     65.409208  178.848391
75%     69.770760  194.928938
max     86.855768  254.156358

In [12]:
data.groupby('gender').describe()

       height                                                        \
        count       mean       std        min        25%        50%
gender
female  100.0  63.218378  4.927967  50.683327  60.066927  63.240935
male    100.0  68.500967  7.394331  52.097255  63.671938  68.329590

                             weight                                     \
              75%        max  count        mean        std         min
gender
female  66.540679  75.626991  100.0  164.700689  15.055144  127.111216
male    72.789456  86.855768  100.0  195.423351  25.171466  129.382792


               25%         50%         75%         max
gender
female  155.397550  163.210434  173.895214  204.719182
male    180.060627  194.287285  210.152046  254.156358

In [13]:
data.gender.value_counts()

male      100
female    100
Name: gender, dtype: int64

In [14]:
data.weight.value_counts().head()

161.305214    1
199.860269    1
160.650341    1
143.394448    1
215.605468    1
Name: weight, dtype: int64